body{
    background-image: url(images/LandingStock_image_25.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}
header{
    margin-top:200px;
}
